@import url('https://fonts.googleapis.com/css?family=Merriweather|Muli');

body {
    font-family: 'Merriweather', serif;
    font-size: 18pt;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow-x: hidden;
}

button {
    font-family: 'Muli', sans-serif;
}

#gmlogo {
    position: absolute;
    z-index: 101;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: url("/clickbait/media/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: #1359c9;
}

#title-box {
    position: absolute;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    text-align: center;
    z-index: 100;
}

#title-image {
    width: 100%;
    padding: 0 5%;
    opacity: 0;
}

#title-image-box, #title-message-box, #title-button-box {
    width: 100%;
}

#title-image-box {
    margin: 0;
}

#title-message-box, #title-button-box {
    margin: 8% 0 0 0;
}

#title-message-box p {
    opacity: 0;
}

#title-button {
    opacity: 0;
}

#store-link {
    color: white;
    cursor: pointer;
}

#gamearea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 98vh;
    z-index: 0;
    opacity: 0;
}

.ad {
    display: inline-block;
    margin: 10px;
    float: left;
}

.ad img {
    width: 100%;
    height: 100%;
}

.modal-body {
    font-size: 12pt;
    text-align: center;
}

#store-table {
    width: 100%
}

#store-table td {
    border: 1px solid gray;
}

.clicker {
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.clicker.active {
    -webkit-filter: drop-shadow(2px -2px 0 cyan) drop-shadow(-2px 2px 0 red);
    filter: drop-shadow(2px -2px 0 cyan) drop-shadow(-2px 2px 0 red);
}

.clicker-ez {
    background-image: url("/clickbait/media/clickers/ez.png");
}

.clicker-double {
    background-image: url("/clickbait/media/clickers/double.png");
}

.clicker-frenzy {
    background-image: url("/clickbait/media/clickers/frenzy.png");
}

.clicker-super {
    background-image: url("/clickbait/media/clickers/super.png");
}

#title-disclaimer-box, #title-attribution-box {
    position: absolute;
    bottom: 0;
}

#title-disclaimer-box, #title-attribution-box, #title-attribution-box a, #title-disclaimer-box a {
    color: gray;
    font-size: 10pt;
}

#title-attribution-box {
    right: 0;
}

#title-disclaimer-box {
    left: 0;
}

#title-disclaimer-box {
    text-align: left;
}

#title-attribution-box {
    text-align: right;
}

.area-column {
    height: 100vh;
    outline: 1px solid black;
}

.tight {
    padding: 0;
    margin: 0;
}

.header-label {
    background: black;
    color: white;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
}

#gamestats-score, #gamestats-cpm {
    text-align: left;
}

#background-music {
    opacity: 0;
}

#adarea, #store, #adstore {
    height: 88vh;
}

.col-scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
}

.store-entry {
    padding: 5%;
    font-size: 12pt;
    border-bottom: 1px solid gray;
    overflow: auto;
}

.store-image {
    height: 15vh;
    width: auto;
    max-width: 100%;
    align: left;
    padding: 10%;
}

.store-info {
    text-align: left;
    float: left;
    width: 100%;
}

.store-buy {
    float: right;
}

#achievements {
    position: fixed;
    height: 15vh;
    width: 100%;
    bottom: -13vh;
    left: 0;
    border-top: 1px solid black;
    background: white;
    padding: 2vh;

    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}

.achievement-info {
    display: none;
    position: fixed;
    background: white;
    height: 10vh;
    width: 30vw;
    font-size: 0.5em;
    padding: 1vh;
    border: 1px solid black;
    overflow: hidden;
}

.achievement {
    display: inline-block;
    margin-left: 2vh;
}

.achievement-image {
    width: 10vh;
    height: 10vh;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid black;
}

.fulfilled .achievement-image {
    opacity: 1;
    border: 2px solid green;
}

#achievement-dialog {
    display: none;
    position: fixed;
    top: 20vh;
    width: 40vw;
    margin: 0 30vw;
    border: 1px solid black;
    background-color: white;
    padding: 5%;
    font-size: 0.8em;
}

#achd-img {
    width: 30%;
    float: left;
    padding-right: 2%;
}